@import url("https://fonts.googleapis.com/css?family=Helvetics:400,800");

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  background-color: #ffffff;
  color: #222;
  padding-bottom: 10px;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  align-items: center;
  font-size: 100%;
}

/* Intro */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  background: #e3edff;
  transition: 1s;
  box-shadow: 0 0 10px black;
}

.introLogo {
  margin: 20px 0;
}

.logo-letter {
  font-size: 40px;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-letter.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-letter.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.leo {
  color: #220adb;
}

.network {
  color: #ff3c00;
}

.space {
  color: #ffffff;
}

.introParagraph {
  font-size: 20px;
  color: rgb(70, 69, 69);
}

/* Navigation Bar*/

.nav {
  position: fixed;
  background-color: rgb(0, 71, 142);
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  transition: all 1s ease-in-out;
  z-index: 99;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 1s ease-in-out;
}

.nav ul {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
  letter-spacing: 1;
}

.nav h1 {
  transition: all 1s ease-in-out;
  font-size: 20px;
}

.nav.active {
  background-color: rgb(31, 27, 27);
  box-shadow: 0 2px 10px rgba(0, 0, 0 0.3);
}

.nav.active .container {
  padding: 5px 0;
}

.nav a.current,
.nav a:hover {
  color: #ff1900;
}

#header-img {
  height: 5rem;
  margin-left: 20px;
  transition: all 1s ease-in-out;
}

.nav.active #header-img {
  height: 3rem;
  margin-left: 20px;
  transition: all 1s ease-in-out;
}

.title {
  margin: auto 0 auto 0;
  transition: all 1s ease-in-out;
}

.title.active {
  margin: 10x 0 10px 0;
}

.nav.active .navTitle {
  height: 400px;
}

.navNetwork.active {
  height: 1.5rem;
}

.navNetwork2.active {
  height: 1.5rem;
  font-size: 0.1px;
}

.LogoTitle {
  display: flex;
}

.NavNetwork {
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  font-size: 16px;
  color: #ff1900;
}

.NavNetwork2 {
  color: rgb(190, 30, 45);
  line-height: 1.2rem;
  letter-spacing: 0.8px;
  font-size: 12px;
}

/* Containers */

.topArticles {
  /* border: 10px solid rgba(246, 0, 0, 0.978); */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  background: #e3edffa2;
  gap: 2rem;
  margin-top: 10rem;
}

.grid-item {
  display: flex;
  /* border: 5px solid rgb(105, 72, 189); */
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px #ffffff;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 20rem;
  opacity: 0;
}

.grid-item:hover {
  box-shadow: 0px 0px 5px 5px #000000;
  transition: 0.5s;
}

.topArticles img {
  border-radius: 20px;
  object-fit: cover;
  width: 20rem;
}

.grid-item.show {
  opacity: 1;
  animation: anime 1.2s ease;
}

@keyframes anime {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  10% {
    transform: scale(0.8);
    opacity: 0.1;
  }

  20% {
    transform: scale(0.85);
    opacity: 0.2;
  }

  30% {
    transform: scale(0.85);
    opacity: 0.3;
  }

  40% {
    transform: scale(0.9);
    opacity: 0.4;
  }

  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  60% {
    transform: scale(0.95);
    opacity: 0.6;
  }

  70% {
    transform: scale(0.95);
    opacity: 0.7;
  }

  80% {
    transform: scale(1);
    opacity: 0.8;
  }

  90% {
    transform: scale(1);
    opacity: 0.9;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Community */

.community {
  /* border: 1px solid rgb(233, 13, 13); */
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  letter-spacing: 20px;
}

.socialMedia {
  /* border: 1px solid #972020; */
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Quienes Somos */

.quienesSomosContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.editorial,
.articulosContainer {
  background: #e3edffa2;
  border-radius: 20px;
  padding: 5%;
  padding-top: 3%;
  margin-top: 3%;
}

.editorial,
.articulosContainer h1 {
  text-align: center;
  margin: 5% 2%;
}

.editorial h1 {
  text-align: center;
  margin: 5% 2%;
}

.editorial,
.articulosContainer h2 {
  text-align: left;
}

.editorial,
.articulosContainer p,
h2 {
  margin: 2%;
  line-height: 1.8;
  letter-spacing: 1.2px;
  font-size: 20px;
}

.editores {
  border: 1px solid #ffffff;
  margin: 5%;
}

.imagenEditor {
  height: 10%;
  width: 10%;
  margin-left: 5%;
}

.editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
  border: 1px solid #000000;
  padding: 2%;
  border-radius: 25px;
}

.editorBio {
  margin: 0 5%;
}

.editorName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2%;
}

/* Psicoanalistas */

.psicoanalistasContainer {
  /* border: 1px solid #2dae21; */
  display: flex;
  flex-direction: column;
  width: 75%;
  background: #e3edffa2;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 7%;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
  border-radius: 50px;
}

.miniContainer {
  /* border: 1px solid #2dae21; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  background: #e3edffa2;
  gap: 2rem;
  margin-top: 10rem;
}

.psicoanalistasContainer img {
  height: 500px;
  width: 500px;
  object-fit: fill;
  align-items: center;
  border-radius: 20px;
}

.tituloPsicoanalistas {
  grid-column: span 3;
  /* border: 5px solid rgb(105, 72, 189); */
  margin-bottom: 3%;
  text-align: center;
}

.grid-item-psicoanalistas {
  /* border: 5px solid rgb(105, 72, 189); */
  gap: 100px 100px;
  align-items: center;
  margin: 20px;
  transition: 0.5s;
  width: 300px;
}

.nombrePsicoanalista {
  /* border: 5px solid rgb(105, 72, 189); */
  margin-top: 2%;
  font-size: 16px;
  font-weight: bold;
}

.trayectoriaPsicoanalista {
  /* border: 5px solid rgb(105, 72, 189); */
  font-size: 12px;
  margin-top: 5px;
}

/* MAGAZINE */

.image-container img {
  height: 550px;
  object-fit: contain;
  /* border: 5px solid rgb(105, 72, 189); */
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 580px;
  width: 850px;
  overflow: hidden;
  /* border: 5px solid rgb(189, 72, 72); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.carousel .btn {
  background-color: rgb(0, 71, 142);
  color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  height: 25%;
  width: 25%;
  font-weight: bold;
}

#left {
  background-color: rgb(46, 112, 178);
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

/* .boton {
  position: absolute;
  margin: 2%;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  /* box-shadow: ; */
/* border: 2px solid rgb(0, 71, 142);
  cursor: pointer;
} */
/* 
.boton {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  --c: #fff;

  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #e97f02; 
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.boton:hover,
.boton:focus-visible {
  --_p: 0%;
  --_i: 1;
}
.boton:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
} */

.boton {
  z-index: 99;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  height: 5rem;
  width: 5rem;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  --c: #fff;

  box-shadow: 0 0 0 0.1em inset var(--c);
  /* --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s; */
}
.boton:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: RGB(0, 71, 142);
}

.boton:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: RGB(0, 71, 142);
  color: var(--c);
}

/* .boton:hover {
} */

/* #regresar {
  top: 0;
  left: 0;
}



#siguiente {
  top: 0;
  right: 0;
} */

#articulosRevista {
  top: 0;
  left: 0;
}

#descargarRevista {
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  border: solid 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  border-color: RGB(190, 30, 45);
  --co: RGB(190, 30, 45);

  box-shadow: 0 0 0 0.1em inset var(--co);
  --_go: linear-gradient(var(--co) 0 0) no-repeat;
  background: var(--_go) calc(var(--_po, 0%) - 100%) 0%,
    var(--_go) calc(200% - var(--_po, 0%)) 0%,
    var(--_go) calc(var(--_po, 0%) - 100%) 100%,
    var(--_go) calc(200% - var(--_po, 0%)) 100%;
  background-size: 50.5% calc(var(--_po, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}

#descargarRevista:hover {
  --_po: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: #ffffff;
}

#descargarRevista:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
