@import url("https://fonts.googleapis.com/css?family=Helvetics:400,800");

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  background-color: #ffffff;
  color: #222;
  padding-bottom: 10px;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  align-items: center;
}

/* Intro */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  background: #e3edff;
  transition: 1s;
  box-shadow: 0 0 10px black;
}

.introLogo {
  margin: 20px 0;
}

.logo-letter {
  font-size: 40px;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-letter.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-letter.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.leo {
  color: #220adb;
}

.network {
  color: #ff3c00;
}

.space {
  color: #ffffff;
}

.introParagraph {
  font-size: 20px;
  color: rgb(70, 69, 69);
}

/* Navigation Bar*/

.nav,
.TVnav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  transition: all 1s ease-in-out;
  z-index: 99;
}

.nav .container,
.TVnav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 1s ease-in-out;
}

.nav ul,
.TVnav ul {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a,
.TVnav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.5s ease-in-out;
  margin: 0 20px;
  letter-spacing: 1;
}

.nav h1,
.TVnav h1 {
  transition: all 1s ease-in-out;
}

.nav.active,
.TVnav {
  background-color: rgb(31, 27, 27);
  box-shadow: 0 2px 10px rgba(0, 0, 0 0.3);
}

.nav.active .container,
.TVnav .container {
  padding: 5px 0;
}

.nav a.current,
.nav a:hover,
.TVnav a.current,
.TVnav a:hover {
  color: #ff1900;
}

#header-img {
  height: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s ease-in-out;
}

.nav.active #header-img,
.TVnav #header-img {
  height: 3rem;
  margin: auto;
}

#header-img {
  height: 3rem;
}

.title {
  margin: auto 0 auto 0;
  transition: all 1s ease-in-out;
}

.title.active,
.TVnav .title {
  margin: 10x 0 10px 0;
}

.nav.active .navTitle,
.TVnav .navTitle {
  height: 2px;
}

.nav.active .navNetwork,
.TVnav .NavNetwork {
  height: 1.5rem;
}

.LogoTitle {
  display: flex;
}

.NavNetwork {
  color: #555;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}

.NavNetwork.active,
.TVnav .NavNetwork {
  color: #555;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

/* Leo Intro*/

.LeoFinanceNetwork {
  /* border: solid #fff; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 200px;
  z-index: -2;
}

#LeoLogo {
  /* border: solid #fff; */
  margin: 150px 0 50px 0;
  height: 15rem;
}

.LeoFinanceNetwork h1 {
  font-size: 40px;
  text-shadow: 0px 0px 10px rgb(161, 76, 6);
  margin: 20px 0 20px;
  color: fff;
}

.LeoFinanceNetwork p {
  font-size: 20px;
  margin-left: 17.5%;
  margin-right: 17.5%;
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.LeoFinanceNetwork h2 {
  font-size: 150%;
  margin: 10px 0;
  color: #000;
}

.vision {
  padding: 30px 0;
  font-style: bold;
  font-size: 2rem;
  margin: 50px 0 0 0;
  color: #fff;
  line-height: 1px;
  text-shadow: 1px 1px 10px #ffc229;
}

/* Containers */

.topArticles {
  /* border: 10px solid rgba(246, 0, 0, 0.978); */
  display: grid;
  width: 75%;
  background: #e3edffa2;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 10%;
  align-items: center;
  justify-content: center;
}

.grid-item {
  /* border: 5px solid rgb(105, 72, 189); */
  border-radius: 20px;
  gap: 100px 100px;
  margin: 30px;
  box-shadow: 0px 0px 10px 5px #ffffff;
  cursor: pointer;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
}

.grid-item:hover {
  box-shadow: 0px 0px 5px 5px #000000;
  transition: 0.5s;
}

.topArticles img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.tituloArticulo {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8%;
  margin-top: -3%;
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
  /* border: 1px solid rgb(233, 13, 13); */
  justify-content: center;
  align-items: center;
}

/* Community */

.community {
  /* border: 1px solid rgb(233, 13, 13); */
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  letter-spacing: 20px;
}

.socialMedia {
  /* border: 1px solid #972020; */
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Quienes Somos */

.quienesSomosContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.editorial,
.articulosContainer {
  background: #e3edffa2;
  border-radius: 20px;
  padding: 5%;
  padding-top: 3%;
  margin-top: 3%;
}

.editorial,
.articulosContainer h1 {
  text-align: center;
  margin: 5% 0;
}

.editorial,
.articulosContainer h2 {
  text-align: left;
}

.editorial,
.articulosContainer p,
h2 {
  margin: 2%;
  line-height: 1.8;
  letter-spacing: 1.2px;
  font-size: 20px;
}

.editores {
  border: 1px solid #ffffff;
  margin: 5%;
}

.imagenEditor {
  height: 10%;
  width: 10%;
  margin-left: 5%;
}

.editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
  border: 1px solid #000000;
  padding: 2%;
  border-radius: 25px;
}

.editorBio {
  margin: 0 5%;
}

.editorName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2%;
}

/* Ediciones */

.edicionesContainer {
  /* border: 1px solid #ae2121; */
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 75vh;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edicionesContainer h2 {
  margin-top: 0.5%;
}

.edicionRevista {
  /* border: 1px solid #ae2121; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.edicion {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ae2121; */
  margin: 1%;
  align-items: center;
}

.edicion img {
  border-radius: 15%;
}

.imagenEdicion {
  /* border: 1px solid #ae2121; */
  height: 50%;
  width: 60%;
  margin: 1%;
}

.textoEdicion {
  /* border: 1px solid #ae2121; */
  margin: 3%;
  font-size: 30px;
  font-weight: bold;
}

/* Psicoanalistas */

.psicoanalistasContainer {
  /* border: 1px solid #2dae21; */
  display: flex;
  flex-direction: column;
  width: 75%;
  background: #e3edffa2;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: rgb(0, 0, 0);
  padding-top: 7%;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
  border-radius: 50px;
}

.miniContainer {
  /* border: 1px solid #2dae21; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.psicoanalistasContainer img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  align-items: center;
  border-radius: 20px;
}

.tituloPsicoanalistas {
  grid-column: span 3;
  /* border: 5px solid rgb(105, 72, 189); */
  margin-bottom: 3%;
  text-align: center;
}

.grid-item-psicoanalistas {
  /* border: 5px solid rgb(105, 72, 189); */
  gap: 100px 100px;
  align-items: center;
  margin: 20px;
  transition: 0.5s;
  width: 300px;
}

.nombrePsicoanalista {
  /* border: 5px solid rgb(105, 72, 189); */
  margin-top: 2%;
  font-size: 16px;
  font-weight: bold;
}

.trayectoriaPsicoanalista {
  /* border: 5px solid rgb(105, 72, 189); */
  font-size: 12px;
  margin-top: 5px;
}

/*  Articulos Container */

.articulosContainer blockquote {
  margin: 0 5%;
}

.articulosContainer footer {
  margin: 0 2%;
  line-height: 1.8;
  font-size: 12px;
}
